<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDEFW37d3fiG0DdIVMXV1CtF4S7qmqZx8</string>
	<key>GCM_SENDER_ID</key>
	<string>64774088793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.characterCreator</string>
	<key>PROJECT_ID</key>
	<string>ghchinoy-genai-sa</string>
	<key>STORAGE_BUCKET</key>
	<string>ghchinoy-genai-sa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64774088793:ios:61963b65f29f47ac07a948</string>
</dict>
</plist>